<footer class="gh-foot gh-outer">
    <div class="gh-foot-inner">
        {{#if @custom.footer_text}}
            <div class="gh-foot-text">{{@custom.footer_text}}</div>
        {{else}}
            <div class="gh-foot-text">// Built lazily. Shipped aggressively.</div>
        {{/if}}
    </div>
</footer>
