{{!< default}}

<div class="gh-outer">
    <div class="gh-inner">
        <section class="gh-error">
            <h1 class="gh-error-code">{{statusCode}}</h1>
            <p class="gh-error-message">{{message}}</p>
            <a class="gh-btn" href="{{@site.url}}">Go to homepage</a>
        </section>
    </div>
</div>
