{{!< default}}

{{#post}}
<div class="gh-outer">
    <div class="gh-inner">
        <article class="gh-article {{post_class}}">
            {{#match @page.show_title_and_feature_image}}
                <header class="gh-article-header">
                    <h1 class="gh-article-title">{{title}}</h1>
                    {{#if custom_excerpt}}
                        <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                    {{/if}}
                </header>
            {{/match}}

            <section class="gh-content">
                {{content}}
            </section>
        </article>
    </div>
</div>
{{/post}}
